name: Check PR
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test-library:
    name: Library Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node JS LTS
      uses: actions/setup-node@v3
      with:
        node-version: 22.x

    - name: Install npm dependencies
      run: npm ci

    - name: Run tests
      run: npm run test
      working-directory: ./library
      env:
        CREATE_CNAME_RECORD: true
        OPENAPI_REST_API_REPORT_SUMMARY: true

  test-examples:
    name: Example Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node JS LTS
      uses: actions/setup-node@v3
      with:
        node-version: 22.x

    - name: Install npm dependencies
      run: npm ci

    - name: Run tests
      run: npm run test
      working-directory: ./examples
      env:
        CREATE_CNAME_RECORD: true
        OPENAPI_REST_API_REPORT_SUMMARY: true

  premerge-checks:
    name: Premerge Checks
    runs-on: ubuntu-latest
    needs:
      - test-library
      - test-examples

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node JS LTS
      uses: actions/setup-node@v3
      with:
        node-version: 22.x

    - name: Ensure package version is greater than latest release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npx tsx scripts/premergeVersionCheck.ts
